:root {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --beige-color: rgb(243, 236, 176);
  --navy-color: rgb(52, 77, 103);
  --teal-color: rgb(110, 204, 175);
  --green-color: rgb(173, 231, 146);
  --yellow-color: #FED049;
}


body {
  background: rgb(197,249,215);
  /* background: linear-gradient(235deg, rgba(197,249,215,1) 0%, rgba(247,212,134,1) 50%, rgba(242,122,125,1) 100%) fixed; */

  /** 
  https://colorhunt.co/palette/344d676eccafade792f3ecb0
  */
  background: linear-gradient(225deg,
    var(--navy-color) 0%,
    var(--teal-color) 30%,
    var(--green-color) 50%,
    var(--beige-color) 100%) fixed;

  /* background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(11,59,131,1) 0%, rgba(18,235,159,1) 100%) fixed; */
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

main {
  text-align: center;
  padding: 1em;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  display: grid;
  height: 90vh;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--navy-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 2rem auto;
  max-width: 14rem;
}

h1 > span {
  opacity: .6;
  font-size: 3rem;
  font-weight: 400;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}