:root {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-color: rgb(52, 77, 103);
  --secondary-color: rgb(110, 204, 175);
  --thertiary-color: rgb(173, 231, 146);
  --forth-color: rgb(243, 236, 176);
  --yellow-color: #FED049;

  --theme-selector-size: 12px;

  --theme-color-1: rgb(52, 77, 103);
  --theme-color-2: rgb(253, 132, 31);
  --theme-color-3: rgb(195, 248, 255);
  --theme-color-4: rgb(6, 40, 61);
}

[data-theme="orange"] {
  --primary-color: rgb(253, 132, 31);
  --secondary-color: rgb(225, 77, 42);
  --thertiary-color: rgb(205, 16, 77);
  --forth-color: rgb(156, 44, 119);
}

[data-theme="summer"] {
  --primary-color: rgb(195, 248, 255);
  --secondary-color: rgb(171, 217, 255);
  --thertiary-color: rgb(255, 246, 191);
  --forth-color: rgb(255, 235, 173);
}

[data-theme="sunset"] {
  --primary-color: rgb(6, 40, 61);
  --secondary-color: rgb(37, 109, 133);
  --thertiary-color: rgb(71, 181, 255);
  --forth-color: rgb(223, 246, 255);
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

main {
  background: linear-gradient(225deg,
  var(--primary-color) 0%,
  var(--secondary-color) 30%,
  var(--thertiary-color) 50%,
  var(--forth-color) 100%) fixed;
  padding: 0;
}

section {
  text-align: center;
  width: 100%;
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 2rem auto;
  max-width: 14rem;
}

h1 > span {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 600;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}